---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <span class="post-meta">{{ post.date | date: "%b %d, %Y" }},&nbsp;By {{ post.author }}</span>

        <p>
          {{ post.content | split:'<!--more-->' |first }}
        </p>

        <h6><a class="post-link read-more" href="{{ post.url | prepend: site.baseurl }}">Read more...</a></h6>
      </li>
    {% endfor %}
  </ul>

</div>

{% if paginator.total_pages != 1 %}
<div id="post-pagination" class="pagination">
  {% if paginator.previous_page %}
  <span class="previous">
    {% if paginator.previous_page == 1 %}
    <a href="/"> << </a>
    {% else %}
    <a href="{{ paginator.previous_page_path }}"> << </a>
    {% endif %}
  </span>
  {% endif %}
    <span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
  <span class="next">
    <a href="{{ paginator.next_page_path }}"> >> </a>
  </span>
  {% endif %}

</div>
{% endif %}