@charset "UTF-8";
* {
    margin: 0 auto;
    padding: 0;
}

body {
    background: #E6E6E6;
}

a:link { text-decoration: none;color: blue}
a:active { text-decoration:blink}
a:hover { text-decoration:underline;color: red}
a:visited { text-decoration: none;color: green}

.fixed {
    clear: both;
}

#content {
    position: relative;
    width: 800px;
    height: 500px;
    top: 100px;
}

#header {
    width: 120px;
    height: 24px;
    font-size: 20px;
    float: left;
    border: 1px solid #808080;
    text-align: center;
    border-radius: 3px;
}

#img-board {
    height: 475px;
    border: 1px solid #999;
}

.image {
    width: 800px;
    height: 475px;
}

ul#img-nav {
    list-style: none;
}

#img-nav li {
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    margin: 2px;
}

#img-nav li a {
    display: block;
    padding-top: 9px;
    width: 9px;
    height: 0;
    border-radius: 50%;
    background-color: #808080;
    overflow: hidden;
}

#img-nav .selected a {
    display: block;
    padding-top: 9px;
    width: 9px;
    height: 0;
    border-radius: 50%;
    background-color: #0FF;
    overflow: hidden;
}

#img-nav {
    position: absolute;
    bottom: 15px;
    left: 50%;
    background: rgba(255,255,255,.3);
    border-radius: 10px;
    font-size: 0;
}

.image {
    display: none;
}

.current {
    display: inline;
}

#operation {
    display: none;
    position: absolute;
    bottom: 50%;
    width: 100%;
}

#operation #prev {
    padding: 3px;
    background: rgba(255,255,255,.3);
    float: left;
}

#operation #next {
    padding: 3px;
    background: rgba(255,255,255,.3);
    float: right;
}