* {
	margin: 0;
	padding: 0;
}

body {
	/*background-color: #D8D8D8;*/
	height: 1000px;
}

.visited {
	opacity: 1;
}

#egg {
	background-image: url(../images/egg.png);
	width: 65px;
 	height: 65px;
	position:absolute;
	left: 100px;
	top: 500px;
	z-index: 9;
}

#broegg {
	width: 65px;
 	height: 65px;
	position:absolute;
	left: 100px;
	top: 500px;
	z-index: 9;
	background-image: url(../images/egg.png);
}

#kid {
	width: 72px;
 	height: 107px;
	position:absolute;
	left: 290px;
	top: 500px;
	z-index: 9;
	background-image: url(../images/kid.png);
	opacity: 0;
}

#pupils {
	width: 72px;
 	height: 107px;
	position:absolute;
	left: 470px;
	top: 500px;
	z-index: 9;
	background-image: url(../images/pupils.png);
	opacity: 0;
}

#junior {
	width: 72px;
 	height: 107px;
	position:absolute;
	left: 650px;
	top: 500px;
	z-index: 9;
	background-image: url(../images/junior.jpg);
	opacity: 0;
}

#withme {
	width: 72px;
	height: 107px;
	position: absolute;
	left: 830px;
	top: 500px;
	z-index: 9;
	background-image: url(../images/couple.jpg);
	opacity: 0;
}

#senior {
	width: 72px;
 	height: 107px;
	position:absolute;
	left: 1010px;
	top: 500px;
	z-index: 9;
	background-image: url(../images/senior.jpg);
	opacity: 0;
}

#college {
	width: 72px;
 	height: 107px;
	position:absolute;
	left: 1190px;
	top: 500px;
	z-index: 9;
	background-image: url(../images/college.jpg);
	opacity: 0;
}

#recent {
	width: 72px;
 	height: 107px;
	position:absolute;
	left: 1370px;
	top: 500px;
	z-index: 9;
	background-image: url(../images/recent.jpg);
	opacity: 0;
}

#timeline {
	position: absolute;
	height: 4px;
	left: 150px;
	top: 620px;
	background: #000;
}

.time {
	position: absolute;
	width: 5px;
	/*height: 20px;*/
	top: 624px;
	background-color: #000;
}

.time_desc {
	position: absolute;
	top: 645px;
	opacity: 0;
}

.time_desc p {
	font-family: "Lucida handwriting";
	text-align: center;
}

p .ch {
	font-family: "Microsoft YaHei";
}

#broegg_time {
	left: 150px;
}

#kid_time {
	left: 335px;
}

#pupils_time {
	left: 515px;
}

#junior_time {
	left: 695px;
}

#withme_time {
	left: 875px;
}

#senior_time {
	left: 1055px;
}

#college_time {
	left: 1235px;
}

#recent_time {
	left: 1415px;
}

#broegg_desc {
	left: 100px;
}

#kid_desc {
	left: 290px;
}

#pupils_desc {
	left: 470px;
}

#junior_desc {
	left: 650px;
}

#withme_desc {
	left: 830px;
}

#senior_desc {
	left: 1010px;
}

#college_desc {
	left: 1190px;
}

#recent_desc {
	left: 1370px;
}