* {
	margin: 0;
	padding: 0;
}

body {
	/*background-color: #D8D8D8;*/
	height: 1000px;
}

@font-face { font-family : "mengli" ; src : url (mengli.ttf) ; font-weight: normal;
    font-style: normal; }

.visited {
	opacity: 1;
}

#egg {
	background-image: url(../images/egg.png);
	width: 65px;
 	height: 65px;
	position:absolute;
	left: 100px;
	top: 500px;
	z-index: 9;
}

#broegg {
	width: 65px;
 	height: 65px;
	position:absolute;
	left: 100px;
	top: 500px;
	z-index: 9;
	background-image: url(../images/egg.png);
}

.imgs {
	width: 120px;
	height: 177px;
	position: absolute;
	top: 440px;
	z-index: 9;
	opacity: 0;
}

#kid {
	left: 320px;
	background-image: url(../images/kid.jpg);
}

#pupils {
	left: 520px;
	background-image: url(../images/pupils.jpg);
}

#junior {
	left: 720px;
	background-image: url(../images/junior.jpg);
}

#withme {
	left: 920px;
	background-image: url(../images/couple.jpg);
}

#senior {
	left: 1120px;
	background-image: url(../images/senior.jpg);
}

#college {
	left: 1320px;
	background-image: url(../images/college.jpg);
}

#recent {
	left: 1520px;
	background-image: url(../images/recent.jpg);
}

#timeline {
	position: absolute;
	height: 4px;
	left: 150px;
	top: 620px;
	background: #000;
}

.time {
	position: absolute;
	width: 5px;
	/*height: 20px;*/
	top: 624px;
	background-color: #000;
}

.time_desc {
	position: absolute;
	top: 645px;
	opacity: 0;
}

.time_desc p {
	font-family: "Lucida handwriting";
	text-align: center;
}

#broegg_time {
	left: 150px;
}

#kid_time {
	left: 375px;
}

#pupils_time {
	left: 575px;
}

#junior_time {
	left: 775px;
}

#withme_time {
	left: 975px;
}

#senior_time {
	left: 1175px;
}

#college_time {
	left: 1375px;
}

#recent_time {
	left: 1575px;
}

#broegg_desc {
	left: 100px;
}

#kid_desc {
	left: 320px;
}

#pupils_desc {
	left: 520px;
}

#junior_desc {
	left: 720px;
}

#withme_desc {
	left: 920px;
}

#senior_desc {
	left: 1120px;
}

#college_desc {
	left: 1320px;
}

#recent_desc {
	left: 1520px;
}