* {
	margin: 0;
	padding: 0;
}

body {
	/*background-color: #D8D8D8;*/
	height: 1000px;
}

#egg {
	background-image: url(../images/egg.png);
	width: 65px;
 	height: 65px;
	position:absolute;
	left: 0px;
	top: 0;
	z-index: 9;
	-webkit-animation:myfirst 1.5s;
	-0-animation:myfirst 1.5s;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes myfirst
{
	0%   {left: 101px; top: 0px;}
	100% {
		left: 100px; top: 500px;-webkit-animation-fill-mode: forwards;
	}
}

#broegg {
	width: 65px;
 	height: 65px;
	position:absolute;
	left: 100px;
	top: 500px;
	z-index: 9;
	background-image: url(../images/egg_broke.jpg);
	opacity: 0;
	-webkit-animation: mysecond 1.5s;
	-webkit-animation-play-state: paused;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes mysecond
{
	1%   {left: 100px; top: 500px;-webkit-transform:rotate(7deg);}
	25% {left: 145px; top: 500px;-webkit-transform:rotate(-7deg);}
	50% {left: 190px; top: 500px;-webkit-transform:rotate(7deg);}
	75% {left: 235px; top: 500px;-webkit-transform:rotate(-7deg);}
	100% {
		left: 280px; top: 500px;-webkit-animation-fill-mode: forwards;
	}
}

#kid {
	width: 72px;
 	height: 107px;
	position:absolute;
	left: 280px;
	top: 500px;
	z-index: 9;
	background-image: url(../images/kid.png);
	opacity: 0;
	-webkit-animation:mythird 1.5s;
	-webkit-animation-play-state: paused;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes mythird
{
	0%   {left: 281px; top: 500px;}
	100% {
		left: 460px; top: 500px;-webkit-animation-fill-mode: forwards;
	}
}

#pupils {
	width: 72px;
 	height: 107px;
	position:absolute;
	left: 460px;
	top: 500px;
	z-index: 9;
	background-image: url(../images/pupils.png);
	opacity: 0;
	-webkit-animation:saas 1.5s;
	-webkit-animation-play-state: paused;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes saas
{
	0%   {left: 461px; top: 500px;}
	100% {
		left: 640px; top: 500px;-webkit-animation-fill-mode: forwards;
	}
}

#junior {
	width: 72px;
 	height: 107px;
	position:absolute;
	left: 640px;
	top: 500px;
	z-index: 9;
	background-image: url(../images/junior.jpg);
	opacity: 0;
	-webkit-animation:myfifth 1.5s;
	-webkit-animation-play-state: paused;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes myfifth
{
	0%   {left: 641px; top: 500px;}
	100% {
		left: 820px; top: 500px;-webkit-animation-fill-mode: forwards;
	}
}

#senior {
	width: 72px;
 	height: 107px;
	position:absolute;
	left: 820px;
	top: 500px;
	z-index: 9;
	background-image: url(../images/senior.jpg);
	opacity: 0;
	-webkit-animation:mysixed 1.5s;
	-webkit-animation-play-state: paused;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes mysixed
{
	0%   {left: 821px; top: 500px;}
	100% {
		left: 1000px; top: 500px;-webkit-animation-fill-mode: forwards;
	}
}

#college {
	width: 72px;
 	height: 107px;
	position:absolute;
	left: 1000px;
	top: 500px;
	z-index: 9;
	background-image: url(../images/college.jpg);
	opacity: 0;
	-webkit-animation:mysevened 1.5s;
	-webkit-animation-play-state: paused;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes mysevened
{
	0%   {left: 1000px; top: 500px;}
	100% {
		left: 1180px; top: 500px;-webkit-animation-fill-mode: forwards;
	}
}

#recent {
	width: 72px;
 	height: 107px;
	position:absolute;
	left: 1180px;
	top: 500px;
	z-index: 9;
	background-image: url(../images/recent.jpg);
	opacity: 0;
}

#timeline {
	position: absolute;
	height: 4px;
	left: 140px;
	top: 620px;
	background: #000;
}

.time {
	position: absolute;
	width: 5px;
	/*height: 20px;*/
	top: 624px;
	background-color: #000;
}

.time_desc {
	position: absolute;
	top: 645px;
	opacity: 0;
}

.time_desc p {
	text-align: center;
}

#broegg_time {
	left: 140px;
}

#kid_time {
	left: 315px;
}

#pupils_time {
	left: 495px;
}

#junior_time {
	left: 675px;
}

#senior_time {
	left: 855px;
}

#college_time {
	left: 1035px;
}

#recent_time {
	left: 1215px;
}

#broegg_desc {
	left: 100px;
}

#kid_desc {
	left: 280px;
}

#pupils_desc {
	left: 460px;
}

#junior_desc {
	left: 640px;
}

#senior_desc {
	left: 820px;
}

#college_desc {
	left: 1000px;
}

#recent_desc {
	left: 1180px;
}