---
layout: version_2
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}

      <!-- AddToAny BEGIN -->
    <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
      <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
      <a class="a2a_button_sina_weibo"></a>
      <a class="a2a_button_wechat"></a>
      <a class="a2a_button_facebook"></a>
      <a class="a2a_button_twitter"></a>
    </div>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
  </article>
  <div id="container"></div>
  <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
  <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
  <script>
  var gitment = new Gitment({
    id: '{{ page.date }}',
    owner: 'hoohack',
    repo: 'hoohack.github.io',
    oauth: {
      client_id: '126584fbcd55067fa5db',
      client_secret: '7342ed2897e4bcc7793f8a4ca2e8bb6af3a78936',
    },
  })
  gitment.render('container')
  </script>

</div>
