<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  <div class="container">
    {% include reading_header.html %}


    <div class="post">

  <article class="post-content">
    {{ content }}
  </article>
  <div id="gitalk-container"></div>
  <script src="https://www.hoohack.me/assets/javascripts/jquery-2.1.4.min.js"></script>

  <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
  <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
  <script>
    const gitalk = new Gitalk({
      clientID: '126584fbcd55067fa5db',
      clientSecret: '7342ed2897e4bcc7793f8a4ca2e8bb6af3a78936',
      repo: 'hoohack.github.io',
      owner: 'hoohack',
      admin: ['hoohack'],
      id: location.pathname,      // Ensure uniqueness and length less than 50
      distractionFreeMode: false  // Facebook-like distraction free mode
  })

  gitalk.render('gitalk-container')
  </script>
  <script>
      $("#back-top").hide();
      $(document).ready(function () {
          $(window).scroll(function () {
              if ($(this).scrollTop() > 100) {
                  $('#back-top').fadeIn();
              } else {
                  $('#back-top').fadeOut();
              }
          });
          $('#back-top a').click(function () {
              $('body,html').animate({
                  scrollTop: 0
              }, 800);
              return false;
          });
      });
  </script>
  {% include statistics.html %}
  </body>

</html>